/* Statistics.css */
.statistics-container {
    display: flex;
    height: 92.7vh;
    align-items: flex-start;
}

.content-wrapper {
    display: flex;
    flex: 1;
    gap: 20px;
}

.map-container {
    width: 55%;
}

.charts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
}

.chart-container {
    width: 250px;
    margin: 25px;
    height: 190px;
}

.balloon-container {
    height: 100%;
    margin-left: -20px;
}

.balloon_svg {
    position: absolute;
    width: 50px;
    height: auto;
    right: 35px;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-out;
}

.rocket-container {
    width: 100px;
    position: relative;
    display: flex;
    align-items: center;
}

.rocket_img {
    width: 175px;
    height: 100%;
}
  